.leave-massage {
    padding-top: 80px;
    
  }


  @media (min-width: 768px) {
    .leave-massage  {
      position: relative;
      z-index: -1;
    }
  }
  .leave-massage .container {
    background-color: #F0EFE9;
    padding-top: 25px;
    height: 766px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .leave-massage .container .section-title {
    max-width: 441px;
    padding: 15px;
  }
  @media (max-width: 768px) {
    .leave-massage .container .section-title {
      width: 100%;
    }
  }
  .leave-massage .container .section-title h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 25px;
  }
  @media (max-width: 768px) {
    .leave-massage .container .section-title h2 {
      font-size: 35px;
    }
  }
  .leave-massage .container .form-1 {
    width: 1021px;
  }
  @media (max-width: 768px) {
    .leave-massage .container .form-1 {
      width: 100%;
      padding: 0 20px;
    }
  }
  .leave-massage .container .form-1 .input-container {
    padding-bottom: 15px;
    
  }
  .leave-massage .container .form-1 .input-container input {
    background-color: #FFFFFF;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    font-family: "inter" sans-serif;
    margin-right: 36px;
    border: none;
    width: 100%;
    
  }
  @media (max-width: 768px) {
    .leave-massage .container .form-1 .input-container input {
      margin-right: 0;
    }
  }
  
  .leave-massage .container .form-1 .input-container-2 textarea {
    background-color: #FFFFFF;
    height: 160px;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    font-family: "inter" sans-serif;
    margin-right: 36px;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    width: 100%;
    
  }

  

  @media (max-width: 768px) {
    .leave-massage .container .form-1 .input-container-2 textarea {
      margin-right: 0;
      
      
    }
  }
  .leave-massage .container .form-1 .input-container-1 {
    padding-top: 35px;
  }
  @media (max-width: 768px) {
    .leave-massage .container .form-1 .input-container-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  }
  .leave-massage .container .form-1 .input-container-1 .btn-yellow-long {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  @media (max-width: 768px) {
    .leave-massage .container .form-1 .input-container-1 .btn-yellow-long {
      display: block;
      max-width: 390px;
      width: 100%;
      justify-content: center;
      padding: 10px 35px;
      text-align: center;
    }
  }

  .error {
    color: red;
    font-size: 16px;
  }


  .leave-massage .container .Submitted {
    padding-top: 150px;
    
  }


  .leave-massage .container .Submitted p {
    font-size: 30px;
    font-family: 'DM Sans',sans-serif;
    font-weight: 700;
    color: #4b5225;
  }

  .leave-massage .container .Submitted .return-button {
    background-color: #F9D783; 
    color: #191919; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.25s ease-in-out;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .leave-massage .container .Submitted .return-button:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
  }