.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    font-family: "inter" sans-serif;
    margin-right: 36px;
    transition: background-color 0.2s ease-in-out, color 0.25s ease-in-out;
  }
  .btn-black i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-black:hover {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    color: #191919;
  }
  @media (min-width: 768px) {
    .btn-black a {
      display: inline-block;
      margin-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }


  .project-and-case .container .section-title {
    text-align: center;
  }
  .project-and-case .container .project-and-cases {
    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: auto; 
    gap: 20px; 
    
    
  }
  @media (min-width: 768px) {
    .project-and-case .container .project-and-cases {
      display: flex;
      justify-content: space-between;
      height: auto;
      gap: 1px;
      padding-bottom: 45px;
      width: 100%;
    }
  }
  
  .project-and-case .container .article-image {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    
  }

  .project-and-case .container .special-article  {
    width: 107%; 
    height: 400px;
  }
 
  .project-and-case .container .project-and-cases article h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DAD9D3;
  }
  .project-and-case .container .project-and-cases article a {
    display: block;
    text-align: right;
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    padding: 15px;
    transition: color 0.2s ease-in-out, text-decoration 0.3s ease-in-out;
  }
  .project-and-case .container .project-and-cases article a i {
    margin-left: 3px;
  }
  .project-and-case .container .project-and-cases article a:hover {
    text-decoration: underline;
    color: #F94D1C;
    cursor: pointer;
  }
  .project-and-case .container .center-content {
    margin-bottom: 90px;
  }